<div class="card p-3">
    <div>
        <h5> {{ experiencia.title }} </h5>
        <p> {{ experiencia.description }} </p>
    </div>
    <div ng-repeat="detalhe in experiencia.details">
        <hr>
        <div>
            <h6 data-bs-toggle="collapse" href="#list{{experiencia.id}}-{{detalhe.id}}" role="button" aria-expanded="false">
            {{ detalhe.title }}
            </h6>
            <div class="collapse" id="list{{experiencia.id}}-{{detalhe.id}}">
                <div ng-include="detalhe.contentUrl"></div>
            </div>
        </div>
    </div>
</div>