<div class="info-bar">
    <a class="btn btn-dark py-0" href="https://github.com/RafaelLuuna/curriculo" target="_blank">
        Clique aqui para ver o código fonte deste currículo.
    </a>
</div>


<div class="container pt-3 pb-5 d-flex flex-column row-gap-4" ng-controller="curriculoSimplesController">

    <div class="card p-4" id="main-card">
        <div class="row d-flex justify-content-between align-items-start flex-column flex-xl-row align-items-xl-end">
            <div class="col-auto">
                <h2 class="display-1"> {{ dadosGerais.nome }} </h2>
                <h2> {{ dadosGerais.cargoAtual }} </h5>
                <hr class="d-block d-xl-none">
            </div>
            <div class="col-auto text-start text-xl-end">
                <p class="mb-0">
                    {{ dadosGerais.endereco }} <br>
                    {{ dadosGerais.email }} <br>
                    {{ dadosGerais.telefone }}
                </p>
            </div>

        </div>
        
    </div>

    <div>
        <h4>Conhecimentos técnicos</h4>
        <div class="card pt-3">
            <ul>
                <li ng-repeat="conhecimento in conhecimentos"><b>{{ conhecimento.title }}:</b> {{ conhecimento.content }}.</li>
            </ul>
        </div>
    </div>

    <div ng-controller="carouselExperienciasController">
        <h4>Experiências</h4>
        <div class="d-flex flex-row row-gap-3 column-gap-2 mb-3">
            <a class="col text-bg-secondary rounded-3 p-3 op-hover-75 text-decoration-none text-center" role="button" data-bs-toggle="collapse" href="#carousel-0" aria-expanded="true" aria-controls="#carousel-0">Profissional</a>
            <a class="col text-bg-secondary rounded-3 p-3 op-hover-75 text-decoration-none text-center" role="button" data-bs-toggle="collapse" href="#carousel-1" aria-expanded="false" aria-controls="#carousel-1">Academico</a>
            <a class="col text-bg-secondary rounded-3 p-3 op-hover-75 text-decoration-none text-center" role="button" data-bs-toggle="collapse" href="#carousel-2" aria-expanded="false" aria-controls="#carousel-2">Pessoal</a>
        </div>
        <div class="accordion" id="accordionExperiencias">
            <div ng-repeat="carousel in carouselExperiencias">
                <div class="collapse" id="carousel-{{ carousel.id }}" data-bs-parent="#accordionExperiencias">
                    <div ng-include="'app/curriculo/experiencias/templates/carousel/carousel_master.html'"></div>
                </div>
            </div>
        </div>

    </div>
</div>
